# Dependencies
node_modules/

# Build output
dist/
dist-electron/
out/
release/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Temporary files
*.tmp
*.temp

# Coverage
coverage/

# Electron Builder
electron-builder.yml