@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  font-family: Inter, system-ui, sans-serif;

  --background: 36, 36, 36;
  --primary: 255, 255, 255;
  --secondary: 115, 115, 115;
  --button-full: 46, 50, 54, 50;
  --button-full-hover: 58, 63, 68, 0.65;
  --button-empty: 0, 0, 0, 0;
  --button-empty-hover: 39, 39, 42;
  --divider: 82 , 82, 92, 0.4;
  --accent: 43, 157, 161;
}

/* Scrollbar styling */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--divider)) transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(var(--divider));
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--secondary));
  background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}